name: Rust

on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - name: Install Rust nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
        profile: default
    - name: Install LLVM
      run: sudo apt-get install -y llvm
    - name: Run Clippy check.
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features
    - name: Run formatting check.
      run: cargo fmt --check
    - name: Build and test with coverage data
      run: ./coverage-run.py
    - name: Combine coverage reports
      run: cat scratchstack-aws-signature.lcov scratchstack-aws-signature-hyper.lcov > scratchstack-aws-signature-all.lcov
    - name: Upload coverage report to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: scratchstack-aws-signature-all.lcov
